/*css external*/

.menu {
    text-align: center;
    background-color: rgb(252, 252, 252);
    font-size: 18px;
    padding-top: 10pt;
    padding-bottom: 10pt;
}
.button {
    background-color: aqua;
    padding: 5px;
    border-color: black;
    text-decoration: none;
}
.button:hover {
    background-color: rgb(27, 231, 27);
}
h1 {
    background-color: rgb(13, 238, 219);
    padding: 4px;
}
h2,h3 { color: white;
background-color: black;
padding: 3px;
}
fieldset {
    background-image: url(Background_Folder.jpg);
    background-size: cover;
    border-radius: 2px;
}
legend {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 255, 4);
}
th {
    background-color: yellow;
}
#table {
    background-color: white;
}
#z {
    color: white;
}
#x {
    color: red;
}
#index {
    background-image: url(Index.png);
    background-size: cover;
}
#list_data {
    background-image: url(Background-form-laporan.jpg);
    background-size: 100vmax;
    
}
#input_data {
    background-image: url(Background.jpg);
    background-size: cover;
}
#tabel_data {
    background-image: url(Cars.jpeg);
    background-size: cover;
}
#about {
    background-image: url(fresh-palm-leaves-beige-background.jpg);
    background-size: cover;
}